<div class="main">
    <div class="step">
        <p>1. Paste in-game logs to the text area.</p>
        <img src="images/tutorial/tutorial_1.png" alt="Tutorial step 1">
    </div>

    <div class="step">
        <p>2. Click the <strong>Calculate</strong> button to parse logs and get the optimal route.<br>
            You can paste new logs and click <strong>Calculate</strong> again to update the route
            or uncheck any logs you don't want and recalculate. <br>
            Click <strong>Reset</strong> to start over.</p>
        <img src="images/tutorial/tutorial_2.png" alt="Tutorial step 2">
    </div>

    <div class="step">
        <p>Try it!</p>
        <blockquote class="chat-log">
            (Fallent D.) Ok thank you for helping me Treasure hunt today Blue <br>
            (Blueberry E.) No problem! <br>
            (Fallent D.) Do you have your maps ready? <br>
            (Blueberry E.) Yup, let me send you the coords <br>
            (Blueberry E.) Thavnair (36.9, 16.4) <br>
            (Fallent D.) Ohh yeah, let me send my coords as well <br>
            (Blueberry E.) Alright let's start with mine then <br>
            (Fallent D.) Thavnair ( 13.4  , 11.7 ) <br>
            (Fallent D.) Aiight lesgoooooooo <br>
            (Blueberry E.) Cool beans <br>
            (Blueberry E.) LESGOOOO <br>
        </blockquote>
    </div>
</div>