<div class="wrapper">
    <div class="formDiv">
        <form>
            <div>
            <p>Paste coordinates here:</p>
            <div class="textAreaDiv">
                <textarea class="chatLogs" #inputLogs [(ngModel)]="userInput" name="inputLogs"></textarea>
            </div>
            </div>
            <div class="formButtonsDiv">
            <button type="button" class="submitButton" (click)="onCalculatePath()">Calculate</button>
            <button type="button" class="resetButton" (click)="onReset()">Reset</button>
            </div>
            <p class="statusLabel" id="statusLabel">{{status}}</p>
            <div class="logsWrapperPanel">
                <div class="coordinatesPanel">
                    <ul class="logsPanel">
                        <li *ngFor="let entry of calculatedPath | keyvalue">
                            <p>{{entry.key.name}}</p>
                            <ul class="logsPanel">
                                <li class="logsLi" id="orderedLog" *ngFor="let orderedLog of entry.value">
                                    <input type="checkbox" checked="true" (click)="onToggleLog(orderedLog)" *ngIf="!orderedLog.teleport">
                                    {{entry.value.indexOf(orderedLog) + 1}}. {{orderedLog.name}} ({{orderedLog.x}}, {{orderedLog.y}})
                                </li>
                            </ul>
                        </li>
                    </ul>                
                </div>
            </div>
        </form>
    </div>
    <div id="canvasPanel" class="canvasPanel">
        <div *ngFor="let path of calculatedPath | keyvalue">
            <p>{{path.key.name}}</p>        
            <app-map
                [backgroundSrc]="'/images/areas' + path.key.imgSrc"
                [logs]="path.value">
            </app-map>
        </div>
    </div>
</div>
