#message{
    resize: none;
    width: 400;
    height: 300;
}

.messageFormWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-container {
    position: relative;
    font-family: Arial;
    display: inline-block;
}

.input-container input, .input-container textarea {
    height: 40px;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    min-width: 400px;
    padding: 4px 8px;
    transition: all .2s ease;
}

.input-container label {
    position: absolute;
    top: 12px;
    left: 4px;
    padding: 0 4px;
    font-size: 14px;
    pointer-events: none;
    transition: all .2s ease;
}

.input-container input:focus {
    outline: none;
    border: 1px solid #3f51b5;
}

.input-container {
    position: relative;
    font-family: Arial;
    display: block;
}

.input-container> *:not(:last-child){
    margin-bottom: 5;
}

.input-container input {
    height: 40px;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    padding: 4px 8px;
    transition: all .2s ease;
}

.label {
    position: absolute;
    top: 12px;
    left: 4px;
    padding: 0 4px;
    font-size: 14px;
    pointer-events: none;
    transition: all .2s ease;
}

.input-container input:focus {
    outline: none;
    border: 1px solid #3f51b5;
}

#message{
    height: 15vh;
    overflow: auto;
}