.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
}

.menu {
    margin-right: 10%;
    margin-left: 10%;
    position: sticky;
    display: inline-block;
    top: 10%;
}