    .main {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15rem;
      padding: 10rem;
      justify-content: center;
    }

    .topDescription {
         display: flex;
         flex-direction: row;
         justify-content: center;
         background: #CFAF8D;
         gap: 1rem;
         width: 700;
         align-self: center;
         padding: 1rem;
    }

    .projectGrid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      display: grid;
    }

    .projectCard {
      display: flex;
      flex: 1 1 300px;
      flex-direction: row;
      max-width: 800px;
      border: 1px solid #B4977B;
      border-radius: 12px;
      padding: 1.5rem;
      background-color: #E1C8A5;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }

    .projectCard h2 {
      margin-top: 0;
    }

    .projectCard a {
      display: inline-block;
      margin-top: 0.5rem;
      color: #0066cc;
      text-decoration: none;
      font-weight: bold;
    }

    .projectCard a:hover {
      text-decoration: underline;
    }

    .img img {
      width: 100%;
       height: 100%;
       object-fit: contain;
       border-radius: 8px;
    }

    .img {
      flex-shrink: 0;
      max-width: 600px;
      max-height: 600px;
    }

    .imgIcon img{
      height: 40px;
      height: 40px;
      object-fit: contain;
    }

    .cardContent {
        flex-direction: column;
        display: flex;
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .appFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #CFAF8D;
        padding: 1rem;
    }

    .aboutMe {
        display: flex;
        justify-content: center;
        background: #CFAF8D;
        padding: 1rem;
    }